<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="header__logo logo">
        <div class="logo__icon">
          <img src="img/logo.svg" alt="Logo" />
        </div>
        <!-- /.logo__img -->
        <span class="logo__text">Global</span>
      </a>
      <!-- /.header__logo logo -->
      <button class="header__menu-btn">
        <span></span>
      </button>
      <ul class="header__menu menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Mobile Top Up </a>
        </li>
        <li class="menu__item"><a href="#" class="menu__link">About</a></li>
        <li class="menu__item"><a href="#" class="menu__link"> Rate</a></li>
        <li class="menu__item"><a href="#" class="menu__link"> Help</a></li>
      </ul>
      <button class="header__btn">Sign Up</button>
    </div>
    <!-- /.header__wrapper -->
  </div>
  <!-- /.container -->
</header>
